<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Commerce Application (20KTPMC)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <style>
        * {
            font-size: 14px;
        }

        .z-index-1 {
            z-index: 1;
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .margin-top-100 {
            margin-top: 100px !important;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Categories
                </a>

                <div class="navbar-dropdown">
                    {{#each this.categories}}
                        <a class="navbar-item">
                            {{name}}
                        </a>
                    {{/each}}
                    <a class="navbar-item">
                        All Categories
                    </a>
                </div>
            </div>

            <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" placeholder="Find a post">
                    </p>
                    <p class="control">
                        <button class="button">
                            Search
                        </button>
                    </p>
                </div>
            </div>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/account/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/account/login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{{#if isLoginPage}}
    {{{body}}}
{{else}}
    <div >
        <div class="container-fluid margin-top-100">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card mb-3">
                        <h4 class="card-header">
                            Categories
                        </h4>
                        <div class="list-group list-group-flush">
                            {{#each lcCategories}}
                                {{#if isActive}}
                                    <a href="/products/bycat/{{CatID}}" class="active list-group-item list-group-item-action">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        {{CatName}}
                                    </a>
                                {{else}}
                                    <a href="/products/bycat/{{CatID}}" class="list-group-item list-group-item-action">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        {{CatName}}
                                    </a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    <div class="card">
                        <h4 class="card-header">
                            Featured
                        </h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
<script src="/js/login.js"></script>

<script>

</script>
{{{_sections.js}}}
</body>

</html>