<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Commerce Application (20KTPMC)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            font-size: 14px;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">
        <i class="bi-house-heart" style="font-size: 2rem;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">-->
        <!--    <i class="bi-search-heart"></i>-->
        <!--    Search-->
        <!--  </button>-->
        <!--</form>-->
        <ul class="navbar-nav">
            {{#if auth}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Welcome, <b>{{authUser.name}}</b>!
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/account/profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <form id="frmLogout" action="/account/logout" method="post"></form>
                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout
                        </a>
                    </div>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/account/login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/signup">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Sign Up
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-3">
                <h4 class="card-header">
                    Categories
                </h4>
                <div class="list-group list-group-flush">
                    {{#each lcCategories}}
                        {{#if isActive}}
                            <a href="/products/bycat/{{CatID}}" class="active list-group-item list-group-item-action">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                {{CatName}}
                            </a>
                        {{else}}
                            <a href="/products/bycat/{{CatID}}" class="list-group-item list-group-item-action">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                {{CatName}}
                            </a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="card">
                <h4 class="card-header">
                    Featured
                </h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            {{{body}}}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
{{{_sections.js}}}
</body>

</html>