{{#section 'courses-css'}}
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/courses-detail.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
{{/section}}
{{#section 'courses-js'}}
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <script src="public/js/dropdown.js"></script>
    <script src="https://cdn.plyr.io/3.7.3/plyr.js"></script>
{{/section}}

{{#if this.course}}
<div class="" style="margin: 80px 100px 0px 100px">
        <div class="d-flex" >
            <div class="flex-3 mr-40">
                <div class="card mb-3">
                    <div class="plyr__video-embed" id="player">
                        <iframe class="max-height-500"
                                src="https://www.youtube.com/embed/{{course.video}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                allowfullscreen
                                allowtransparency
                                allow="autoplay"
                        ></iframe>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <h5 class="card-title h3 font-weight-bold">{{course.name}}</h5>
                        <div class="h2 font-weight-bold">{{format_number course.price}} VND</div>
                        <p class="card-text">{{course.tiny_des}}</p>
                        <div class="h3">Description</div>
						<p class="card-text">{{{course.full_des}}}</p>
                        <br>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="h3">Course content</div>
						{{#each course.content}}
						<div>
							<a href="/courses/detail?id={{this.id}}&v={{this.video.source}}">
							{{this.video.name}}
							</a>
						</div>

						{{/each}}

                    </div>
                </div>
            </div>
            <div class="flex-1">
                <div class="card-body shadow">
                    <!--            <div class="card-image">-->
                    <!--                <figure class="image is-4by3">-->
                    <!--                    <img src="/public/imgs/sp/{{id}}.jpeg" alt="Placeholder image">-->
                    <!--                </figure>-->
                    <!--            </div>-->
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="/public/imgs/avt/0.png" alt="Placeholder image"
                                    width="80" height="80">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{course.lecture_name}}</p>
                                <p class="subtitle is-6">{{course.lecture_email}}</p>
                            </div>
                        </div>

                        <div class="content">

                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                        <div class="h4">Ở dưới là những khóa khác của ổng </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/public/imgs/sp/{{course.id}}.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{course.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4">5 khoá học khác cùng lĩnh vực được mua nhiều nhất</div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card" style="width: 100%; margin-bottom: 30px; margin-top: 30px">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="/imgs/courses/1/{{courses.id}}.jpeg" alt="{{courses.id}}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{courses.name}}</h5>
                                    <p class="card-text">{{courses.tiny_des}}</p>
                                    <p class="card-text"><small class="text-muted">{{courses.last_modify}}</small></p>
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <div style="display: flex">
                                            <div class="ratings">
                                                {{#each ratings}}
                                                    <small class="fa fa-star {{this}}"></small>
                                                {{/each}}
                                            </div>
                                            <small class="review-count">(0)</small>
                                        </div>
                                        <!--                                <div>-->
                                        <!--                                    &lt;!&ndash;                                like&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                    <i style="color: red; font-size:1.2rem" class="fa fa-heart"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                    &lt;!&ndash;                                don't like&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                    <i style="display:none ;font-size:1.2rem" class="fa fa-heart"></i>&ndash;&gt;-->
                                        <!--                                </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{{/if}}
