{{#section '-css'}}
    <link rel="stylesheet" href="/css/courses.css">
{{/section}}

<p class="h1">{{this.catName}}</p>
<div class="d-flex is-flex-wrap-wrap">
    {{#if this.courses}}
        {{#each this.courses}}
            <div class="card" style="width: 100%; margin-bottom: 30px; margin-top: 30px">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="/imgs/courses/{{category_id}}/{{topic_id}}/{{id}}.jpeg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{name}}</h5>
                            <p class="card-text">{{tiny_des}}</p>
                            <p class="card-text"><small class="text-muted">{{last_modify}}</small></p>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div style="display: flex">
                                    <div class="ratings">
                                        {{#each ratings}}
                                            <small class="fa fa-star {{this}}"></small>
                                        {{/each}}
                                    </div>
                                    <small class="review-count">(0)</small>
                                </div>
                                <div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        
                        <div style="float: right;margin-top: 5px;">
                            {{#if check}}
                                        <!--                                like-->
                                        <form action="/account/watch_list/delete/{{id}}" method="post">
                                            <button style="color: red; font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{else}}
                                        <!--                                don't like-->
                                        <form action="/account/watch_list/add/{{id}}" method="post">
                                            <button style="font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{/if}}
                        </div>
                        <div style = " font-size:1.2rem; color:red" class="d-flex justify-content-between align-items-center w-100">
                                    <p class="font-weight-bold">{{format_number this.price}} VND</p>
                        </div>
                        <div style = " font-size:12px" class="d-flex justify-content-between align-items-center w-100">
                                    <p class="font-weight-bold">{{format_number this.price}} VND</p>
                        </div>
                        <div>
                            {{#if enroll}}
                                <a      href="/courses/detail/{{id}}"
                                        class="button is-primary"
                                        style="background-color: #00d1b2;width: 100%;
                                        border-top-right-radius: 0px; border-top-left-radius: 0px"
                                >
                                    <strong>Join</strong>
                                </a>
                            {{else}}
                                <a      href="/courses/enroll/{{id}}"
                                        class="button is-primary"
                                        style="background-color: #05445E;width: 100%;
                                        border-top-right-radius: 0px; border-top-left-radius: 0px"
                                >
                                    <strong>Enroll</strong>
                                </a>
                            {{/if}}       
                        </div>
              
                    </div>
                </div>
            </div>
        {{/each}}
            <nav aria-label="...">
                <ul class="pagination">
                    {{#if isEnablePrevious}}
                        <li class="page-item">
                            <a class="page-link" href="/courses/search/?key={{isEnablePrevious.key}}&ratings={{ratings}}&page={{isEnablePrevious.previous}}">Previous</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {{/if}}
                    {{#each this.pageNumbers}}
                        {{#if isCurrent}}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{value}}</span>
                            </li>
                        {{else}}
                            <li class="page-item">
                                <a class="page-link" href="/courses/search/?key={{key}}&ratings={{ratings}}&sort={{sort}}&page={{this.value}}">{{value}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                    {{# if isEnableNext}}
                        <li class="page-item">

                            <a class="page-link" href="/courses/search/?key={{isEnableNext.key}}&ratings={{ratings}}sort={{sort}}&page={{isEnableNext.next}}">Next</a>
                        </li>
                    {{else}}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {{/if }}
                </ul>
            </nav>
    {{else}}
        <p class="h4 mt-50">{{this.warning}}</p>
    {{/if}}
</div>
