<p class="h1">{{this.catName}}</p>
<div class="d-flex is-flex-wrap-wrap">
    {{#if this.courses}}
        {{#each this.courses}}
            <div class="card mr-6 mt-6" style="width: 18rem;">
                <img src="/imgs/courses/1/{{id}}.jpeg" class="card-img-top" alt="...">
                <div class="d-flex card-body align-items-start flex-column">
                    <h5 class="card-title font-weight-bold">{{name}}</h5>
                    <p class="card-text ">{{tiny_des}}</p>

                    <div class="mt-auto">
                        <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>

                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="ratings">
                                {{!-- <p>{{this.rating}}</p> --}}
                                {{#each ratings}}
                                    <small class="fa fa-star {{this}}"></small>
                                {{/each}}
                            </div>
                            <small class="review-count">(0)</small>
                        </div>
                    </div>
                    <p class="font-weight-bold">{{this.price}} VND</p>
                </div>
                
            </div>
        {{/each}}
    {{else}}
        <p class="h4 mt-50">{{this.warning}}</p>
    {{/if}}

</div>
<script>

</script>