{{#section 'home-css'}}
    <link rel="stylesheet" href="/css/bulma.css">
{{/section}}
<p class="h3 mb-3">Top 3 The Most Courses Last Week</p>
<div style="width: 100%" class="d-flex mb-6 is-flex-wrap-wrap">
    {{#if this.coursesTop3}}
        {{#each this.coursesTop3}}
            <div  class="card mr-6 mt-6 d-flex flex-column d-flex justify-content-between" style="width: 18rem;margin-right: 20px !important;">
                <a href="/courses/detail/{{id}}" class="courses" style="color: #000">
                    <img src="/imgs/courses/{{category_id}}/{{topic_id}}/{{id}}.jpeg" class="card-img-top" alt="...">
                    <div class="d-flex card-body align-items-start flex-column">
                        <h5 class="card-title font-weight-bold">{{name}}</h5>

                        <div style="width: 100%;" class="mt-auto">
                            <p class="card-text ">{{catName}}</p>
                            <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div style="display: flex">
                                    <div class="ratings">
                                        {{#each ratings}}
                                            <small class="fa fa-star {{this}}"></small>
                                        {{/each}}
                                    </div>
                                    <small class="review-count">({{this.views}})</small>
                                </div>
                                <div>
                                    {{#if check}}
                                        <!--                                like-->
                                        <form action="/account/watch_list/delete/{{id}}" method="post">
                                            <button style="color: red; font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{else}}
                                        <!--                                don't like-->
                                        <form action="/account/watch_list/add/{{id}}" method="post">
                                            <button style="font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <p class="font-weight-bold">{{format_number this.price}} VND</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--                <button type="submit"></button>-->
                {{#if enroll}}
                    <a      href="/courses/detail/{{id}}"
                            class="button is-primary"
                            style="background-color: #00d1b2;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                        <strong>Join</strong>
                    </a>
                {{else}}
                    <a      href="/courses/enroll/{{id}}"
                            class="button is-primary"
                            style="background-color: #05445E;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                        <strong>Enroll</strong>
                    </a>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <p class="h4 mt-50">{{this.warning}}</p>
    {{/if}}
</div>
<br>

<p class="h3 mb-3">Top 5 Best Rating Courses</p>
<div class="d-flex mb-6 is-flex-wrap-wrap">
    {{#if this.coursesTop5}}
        {{#each this.coursesTop5}}
            <div  class="card mr-6 mt-6 d-flex flex-column d-flex justify-content-between" style="width: 18rem;margin-right: 20px !important;">
                <a href="/courses/detail/{{id}}" class="courses" style="color: #000">
                    <img src="/imgs/courses/{{category_id}}/{{topic_id}}/{{id}}.jpeg" class="card-img-top" alt="...">
                    <div class="d-flex card-body align-items-start flex-column">
                        <h5 class="card-title font-weight-bold">{{name}}</h5>

                        <div style="width: 100%;" class="mt-auto">
                            <p class="card-text ">{{catName}}</p>
                            <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div style="display: flex">
                                    <div class="ratings">
                                        {{#each ratings}}
                                            <small class="fa fa-star {{this}}"></small>
                                        {{/each}}
                                    </div>
                                    <small class="review-count">({{this.views}})</small>
                                </div>
                                <div>
                                    {{#if check}}
                                        <!--                                like-->
                                        <form action="/account/watch_list/delete/{{id}}" method="post">
                                            <button style="color: red; font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{else}}
                                        <!--                                don't like-->
                                        <form action="/account/watch_list/add/{{id}}" method="post">
                                            <button style="font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <p class="font-weight-bold">{{format_number this.price}} VND</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--                <button type="submit"></button>-->
                {{# if enroll}}
                    <a      href="/courses/detail/{{id}}"
                            class="button is-primary"
                            style="background-color: #00d1b2;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                        <strong>Join</strong>
                    </a>
                {{else}}
                    <a      href="/courses/enroll/{{id}}"
                            class="button is-primary"
                            style="background-color: #05445E;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                        <strong>Enroll</strong>
                    </a>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <p class="h4 mt-50">{{this.warning}}</p>
    {{/if}}
</div>
<br>

<p class="h3 mb-3">Top 10 Most Viewed Courses</p>
<div class="d-flex mb-6 is-flex-wrap-wrap">
    {{#if this.coursesTop10Views}}
        {{#each this.coursesTop10Views}}
            <div  class="card mr-6 mt-6 d-flex flex-column d-flex justify-content-between" style="width: 18rem;margin-right: 20px !important;">
                <a href="/courses/detail/{{id}}" class="courses" style="color: #000">
                    <img src="/imgs/courses/{{category_id}}/{{topic_id}}/{{id}}.jpeg" class="card-img-top" alt="...">
                    <div class="d-flex card-body align-items-start flex-column">
                        <h5 class="card-title font-weight-bold">{{name}}</h5>

                        <div style="width: 100%;" class="mt-auto">
                            <p class="card-text ">{{catName}}</p>
                            <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div style="display: flex">
                                    <div class="ratings">
                                        {{#each ratings}}
                                            <small class="fa fa-star {{this}}"></small>
                                        {{/each}}
                                    </div>
                                    <small class="review-count">({{this.views}})</small>
                                </div>
                                <div>
                                    {{#if check}}
                                        <!--                                like-->
                                        <form action="/account/watch_list/delete/{{id}}" method="post">
                                            <button style="color: red; font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{else}}
                                        <!--                                don't like-->
                                        <form action="/account/watch_list/add/{{id}}" method="post">
                                            <button style="font-size:1.2rem; border: none; background-color: #ffffff" class="fa fa-heart" type="submit"  value="{{id}}"></button>
                                        </form>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <p class="font-weight-bold">{{format_number this.price}} VND</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!--                <button type="submit"></button>-->

                {{# if enroll}}
                    <a      href="/courses/detail/{{id}}"
                                       class="button is-primary"
                                       style="background-color: #00d1b2;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                    <strong>Join</strong>
                    </a>
                {{else}}
                    <a      href="/courses/enroll/{{id}}"
                            class="button is-primary"
                            style="background-color: #05445E;width: 100%;
                            border-top-right-radius: 0px; border-top-left-radius: 0px"
                    >
                        <strong>Enroll</strong>
                    </a>
                {{/if}}

            </div>
        {{/each}}
    {{else}}
        <p class="h4 mt-50">{{this.warning}}</p>
    {{/if}}
</div>
<br>
<!--<p class="h3">Top 10 Most Viewed Courses</p>-->
<!--<div class="d-flex is-flex-wrap-wrap">-->
<!--    {{#if this.courses}}-->
<!--        {{#each this.courses}}-->
<!--            <div class="card mr-6 mt-6" style="width: 18rem;">-->
<!--                <img src="/imgs/courses/1/{{id}}.jpeg" class="card-img-top" alt="...">-->
<!--                <div class="d-flex card-body align-items-start flex-column">-->
<!--                    <h5 class="card-title font-weight-bold">{{name}}</h5>-->
<!--                    <p class="card-text">{{tiny_des}}</p>-->
<!--                    <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>-->

<!--                    <div class="mt-auto d-flex justify-content-between align-items-center w-100">-->
<!--                        <div class="ratings">-->
<!--                            {{#each ratings}}-->
<!--                                <i class="fa fa-star {{this}}"></i>-->
<!--                            {{/each}}-->
<!--                        </div>-->
<!--                        <h5 class="review-count">0 Reviews</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        {{/each}}-->
<!--    {{else}}-->
<!--        <p class="h4 mt-50">{{this.warning}}</p>-->
<!--    {{/if}}-->
<!--</div>-->
<!--<br>-->
<!--<p class="h3">Top 5 Most New Courses</p>-->
<!--<br>-->
<!--<div class="d-flex is-flex-wrap-wrap">-->
<!--    {{#if this.courses}}-->
<!--        {{#each this.courses}}-->
<!--            <div class="card mr-6 mt-6" style="width: 18rem;">-->
<!--                <img src="/imgs/courses/1/{{id}}.jpeg" class="card-img-top" alt="...">-->
<!--                <div class="d-flex card-body align-items-start flex-column">-->
<!--                    <h5 class="card-title font-weight-bold">{{name}}</h5>-->
<!--                    <p class="card-text">{{tiny_des}}</p>-->
<!--                    <p class="card-text font-weight-light">{{firstname}} {{lastname}}</p>-->

<!--                    <div class="mt-auto d-flex justify-content-between align-items-center w-100">-->
<!--                        <div class="ratings">-->
<!--                            {{#each ratings}}-->
<!--                                <i class="fa fa-star {{this}}"></i>-->
<!--                            {{/each}}-->
<!--                        </div>-->
<!--                        <h5 class="review-count">0 Reviews</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        {{/each}}-->
<!--    {{else}}-->
<!--        <p class="h4 mt-50">{{this.warning}}</p>-->
<!--    {{/if}}-->
<!--</div>-->
