{{#if flag}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Delete failed!</strong> {{err_message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<form method="post">
    <div class="card">
        <h4 class="card-header">
            Edit User
        </h4>

        <div class="card-body">
            <div class="form-group">
                <label for="txtID">#</label>
                <input name="id" type="text" class="form-control" id="txtID" readonly
                    value="{{this.User.id}}" />
            </div>

            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input name="email" type="text" class="form-control" id="txtEmail"
                    value="{{this.User.email}}" autofocus placeholder="example@gmail.com" />
            </div>
            <div class="form-group">
                <label for="txtRole">Role: </label>
                {{!-- <input name="role" type="text" class="form-control" id="txtRole"
                    value="{{this.User.role_id}}" autofocus placeholder="role" /> --}}


                <select class="custom-select custom-select-medium" id="txtRole" name="role_id">
                    {{#if (isEqual this.User.role_id 1) }}
                    <option value="1" selected>Student</option>
                    <option value="2">Lecturer</option>
                    <option value="3">Administrator</option>
                    {{/if}}
                    {{#if (isEqual this.User.role_id 2) }}
                    <option value="1">Student</option>
                    <option value="2" selected>Lecturer</option>
                    <option value="3">Administrator</option>
                    {{/if}}
                    {{#if (isEqual this.User.role_id 3) }}
                    <option value="1">Student</option>
                    <option value="2">Lecturer</option>
                    <option value="3" selected>Administrator</option>
                    {{/if}}
                </select>
            </div>
        </div>

        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/admin/users" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-danger"
                formaction="/admin/users/del/{{this.User.id}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/users/patch">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>