{{#if flag}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Delete failed!</strong> {{err_message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<form method="post">
    <div class="card">
        <h4 class="card-header h4">
            Edit Topic
        </h4>

        <div class="card-body">
            <div class="form-group">
                <label for="txtID">#</label>
                <input name="topicId" type="text" class="form-control" id="txtID" readonly
                    value="{{this.topic.topicId}}" />
            </div>
            <div class="form-group">
                <label for="txtName">Topic</label>
                <input name="topicName" type="text" class="form-control" id="txtName"
                    value="{{this.topic.topicName}}" autofocus placeholder="Javascript" />
            </div>
            <div class="form-group">
                <label for="txtCatName">Category</label>
                <select class="custom-select custom-select-medium" name="category_id">
                    {{#each this.categories}}
                    {{#if (isEqual id ../topic.category_id)}}
                    <option selected value="{{id}}">{{name}}</option>
                    {{else}}
                    <option value="{{id}}">{{name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-danger"
                formaction="/admin/categories/topics/del/{{this.topic.topicId}}">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-primary"
                formaction="/admin/categories/topics/patch">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>